@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.App {
  text-align: center;
  font-family: 'Pangolin', cursive;
}

h3 {
  font-family: 'Pangolin', cursive;
}

.header {
  margin-top: 100px;
}

.header img {
  height: 50vh;
}

body {
  background-color: #7b9568;
}

.bubble
{
position: relative;
width: 250px;
height: relative;
padding-bottom: 2px;
background: #FFFFFF;
color: black;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 110px;
}

.button-switch-play:hover {
  content: url('./images/playhover.png');
}

.button-switch-about:hover {
  content: url('./images/abouthover.png');
}

.button-switch-repo:hover {
  content: url('./images/repohover.png');
}

/* Modify the backgorund color */ 
.navbar-custom { 
  background-color: black; 
} 

.spaced-content {
  margin: 5px;
  margin-bottom: 10px;
}

.middle-col {
  min-width: 5px;
}

.left-col {
  min-width: 820px;
  min-height: 668px; 
}

.right-col {
  background-color: #42474a;
  min-width: 235px;
  color: #a9a39a;
}

.wrap-img {
  float: left;
}

.wrap-text {
  float:none;
}  